<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

	<!--配置说明 see https://learn.microsoft.com/zh-cn/aspnet/core/host-and-deploy/iis/web-config?view=aspnetcore-8.0#configuration-of-aspnet-core-module-with-webconfig -->
	
	<system.webServer>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
		</handlers>
		
		<!--
		创建日志文件时，路径中的任何文件夹（上述示例中为 logs）由模块创建。 应用池必须对写入日志的位置具有写入权限（使用 IIS AppPool\{APP POOL NAME} 提供写入权限，其中占位符 {APP POOL NAME} 为应用池名称）。
		设置应用程序池的标识账户
		-->
		
		<aspNetCore processPath=".\DYApi.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
			<environmentVariables>
				
			</environmentVariables>
			<handlerSettings>
				<!--日志配置 see https://learn.microsoft.com/zh-cn/aspnet/core/host-and-deploy/iis/logging-and-diagnostics?view=aspnetcore-8.0 -->
				<handlerSetting name="debugFile" value=".\logs\aspnetcore-debug.log"></handlerSetting>
				<handlerSetting name="debugLevel" value="FILE,TRACE,CONSOLE,EVENTLOG"/>
			</handlerSettings>
		</aspNetCore>
	</system.webServer>
</configuration>